body {
  margin: 0;
}
main {
  position: absolute;
  background: linear-gradient(to bottom right, rgb(38, 132, 255), #6bfdff);
  width: 100%;
  min-height: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* login stuff */
main#loginMain {
  justify-content: center;
  align-items: center;
}
div#centered {
  background-color: rgb(203, 203, 203);
  width: 80vmin;
  height: 80vmin;
  min-height: 400px;
  min-width: 344px;
  border-radius: 10%;
  border: 0.9vmin solid rgb(57, 57, 57);
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
div#info_field {
  width: 90%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
input.textfield {
  width: 55%;
  height: 10%;
  margin-bottom: 2%;
  font-size: 150%;
}
p.text {
  width: 55%;
  margin-bottom: 1%;
  font-size: 30px;
}
div#buttons {
  position: relative;
  margin-top: 4%;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10%;
}
.button {
  aspect-ratio: 3.5;
  width: 25%;
  cursor: pointer;
}
.button_blur {
  background: none;
  border: none;
  color: blue;
  position: absolute;
  left: 25%;
  bottom: -100%;
  cursor: pointer;
}

/* calendar stuff */
div#navBar {
  background-color: rgb(180, 219, 255);
  margin-top: 1%;
  border-radius: 25px;
  box-shadow: 0 0.5vmin 0 rgb(72, 167, 255);
  height: 10vmin;
  width: 66%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
div#logout {
  background-color: rgb(99, 99, 99);
  border: 0.6vh solid black;
  border-radius: 25px;
  margin-right: 0.5%;
  height: 70%;
  width: 18%;
  display: flex;
  cursor: pointer;
}
.logoutIcon {
  max-width: 100%;
  max-height: 100%;
}
#logoutText {
  color: white;
  font-size: 4.5vmin;
  text-align: center;
  align-self: center;
}
div#content {
  align-self: stretch;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
#content::-webkit-scrollbar {
  display: none;
}
div#calendar {
  box-shadow: inset 0 0 4vmin 0.2vmin rgb(0, 0, 0), 0 2 4vmin 0.2 gray;
  border-radius: 25px;
  padding: 2%;
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
#calendar-header {
  height: 9vmin;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4%;
  overflow: hidden;
}
#calendar-year {
  color: white;
  font-family: sans-serif;
  font-size: 6.5vmin;
  font-weight: 600;
  -webkit-text-stroke: 0.4vmin black;
  width: 38%;
  text-align: center;
}
#calendar-year:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}
.year_picker {
  aspect-ratio: 1;
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 8vmin;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  -webkit-text-stroke: 0.4vmin black;
}
.calendar_body {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 2%;
}
#week-days {
  height: 7vmin;
  flex-shrink: 0;
  overflow: hidden;
  text-align: center;
}
.calendar_block {
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  aspect-ratio: 1.4;
  border-radius: 25px;
  width: 13%;
  margin-left: 1%;
}
.on_block {
  background-color: rgb(255, 255, 255);
  box-shadow: inset 0 0 4vmin 0.2vmin rgb(163, 163, 163);
  display: flex;
  flex-direction: column;
}
.on_block:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: all 0.5s ease-in-out;
}
.off_block {
  background-color: rgb(105, 105, 105);
  box-shadow: inset 0 0 10vmin 0.2vmin rgb(0, 0, 0);
}
.calendar-wd {
  background-color: rgb(255, 255, 255);
  box-shadow: inset 0 0 4vmin 0.2vmin rgb(137, 137, 137);
  border-radius: 10px;
  aspect-ratio: 4;
  font-size: 4vmin;
}
.txt_day {
  font-size: 4vmin;
  font-weight: 600;
  text-align: center;
  border-radius: 25px 25px 0 0;
}
.tasks {
  flex-grow: 1;
  border-radius: 0 0 25px 25px;
  display: flex;
  gap: 5%;
  flex-wrap: wrap;
  justify-content: center;
}
/* day tasks overlay */
.overlay {
  background-color: rgb(0, 0, 0, 0.6);
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
#main-popup {
  background-color: rgb(255, 255, 255);
  box-shadow: inset 0 0 20vmin 0 gray;
  border-radius: 25px;
  aspect-ratio: 0.85;
  width: 70vmin;
  max-height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}
#popup-title {
  background-color: red;
  color: white;
  border-radius: 25px 25px 0 0;
  height: 15%;
  text-align: center;
  font-size: 10vmin;
}
#popup-tasks {
  margin-top: 1%;
  border-radius: 0 0 25px 25px;
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 1.5%;
  overflow: scroll;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
#popup-tasks::-webkit-scrollbar {
  display: none;
}
.popup_task {
  box-shadow: inset 0 0 5vmin 0 darkgray;
  border-radius: 15px;
  min-height: 10%;
  display: flex;
  overflow: hidden;
  flex-shrink: 0;
}
.popup_task:hover {
  cursor: pointer;
  transform: scale(1.02);
  transition: all 0.1s ease-in-out;
}
#popup-task-txt {
  font-size: 5vmin;
  text-align: center;
  margin: 1%;
  flex-grow: 1;
  max-width: 80%;
  word-break: break-all;
}
#popup-task-time {
  box-shadow: 0.2vmin 0 1vmin black;
  min-width: 20%;
  font-size: 5.5vmin;
  text-align: center;
  flex-grow: 0;
}
#popup-add {
  width: 95%;
  align-self: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3%;
  margin-top: 2%;
  margin-bottom: 2%;
}
#newTask {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4vmin;
  font-weight: 600;
}
button#newTask {
  aspect-ratio: 1;
  border-radius: 25px;
  cursor: pointer;
}
/* new task overlay */
#overlay-2 {
  z-index: 3;
}
#new-popup {
  position: absolute;
  background-color: rgb(255, 255, 255);
  box-shadow: inset 0 0 20vmin 0 gray;
  border-radius: 25px;
  aspect-ratio: 2;
  width: 80vmin;
  max-height: 80%;
  padding: 1%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.task_info {
  height: 100%;
  aspect-ratio: 1.4;
  max-width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8%;
}
.task_description {
  height: 60%;
  aspect-ratio: 2;
  font-size: 4vmin;
}
.task_time {
  aspect-ratio: 4;
  width: 40%;
  font-size: 4vmin;
}
.task_specs {
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 5%;
}
.other_users {
  width: 80%;
  font-size: 4vmin;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.other_users::-webkit-scrollbar {
  display: none;
}
.create_task {
  border-radius: 25px;
  border: 0.6vmin solid black;
  background-color: aquamarine;
  box-shadow: inset -1vmin -1vmin 1vmin rgb(61, 124, 103);
  font-size: 2.2vmin;
  aspect-ratio: 1.4;
  cursor: pointer;
  margin-bottom: 10%;
}
